<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <%- include('./css/style'); %>
        <%- include('./css/css'); %>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
                integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
                crossorigin="anonymous">
            <title>Document</title>
</head>

<body>

    <%- include('Navtologin')%>


        <div class="container">
            <div class="row">

                <div class="col-lg-3">
                    <div class="hero__categories my-3">
                        <div class="hero__categories__all">
                            <span>All departments</span>
                        </div>
                        <ul>
                            <div class="btn-group-vertical" role="group" aria-label="Basic radio toggle button group">

                                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off"
                                    onclick="showproductistype('All')" checked>
                                <label class="btn-outline-primary" for="btnradio1">All</label>

                                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off"
                                    onclick="showproductistype('dry food')">
                                <label class="btn-outline-primary" for="btnradio2">Dry food</label>

                                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off"
                                    onclick="showproductistype('Fresh food')">
                                <label class="btn-outline-primary" for="btnradio3">Fresh food</label>

                                <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off"
                                    onclick="showproductistype('Drink')">
                                <label class="btn-outline-primary" for="btnradio4">Drink</label>

                                <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off"
                                    onclick="showproductistype('personal items')">
                                <label class="btn-outline-primary" for="btnradio5">Personal items</label>

                                <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off"
                                    onclick="showproductistype('General use')">
                                <label class="btn-outline-primary" for="btnradio6">General use</label>

                            </div>

                        </ul>
                    </div>
                    <div class="hero__categories my-4">
                        <div class="hero__categories__all bg-green">
                            <span>Choice</span>
                        </div>

                        <li class="useul">

                            <div class="wrapper">
                                <header>
                                    <h2>Price Range</h2>
                                    <p>Use slider or enter min and max price</p>
                                </header>
                                <div class="price-input">
                                    <div class="field">
                                        <span>Min</span>
                                        <input type="number" class="input-min" />
                                    </div>
                                    <div class="separator">-</div>
                                    <div class="field">
                                        <span>Max</span>
                                        <input type="number" class="input-max" />
                                    </div>
                                </div>
                                <div class="slider">
                                    <div class="progress"></div>
                                </div>
                                <div class="range-input">
                                    <input type="range" class="range-min" min="0" max="10000" value="500" step="100" />
                                    <input type="range" class="range-max" min="0" max="10000" value="1000" step="100" />
                                </div>
                            </div>

                        </li>
                    </div>
                </div>
                <div class="col-lg-9 my-4">

                    <div class="hero__item set-bg imagebanner">
                        <div class="hero__text">
                            <span>Mini Mart</span>
                            <h2>FRESH <br />100% Organic</h2>
                            <p>Product on sela Daily on bottom</p>
                        </div>
                    </div>
                    <div class="row">

                        <div class="titall">
                            <h2>Daily sale!</h2>
                        </div>
                    </div>

                    <div class="container-sm my-5">
                        <div class="row row-cols-3 showdirly">
                        </div>
                    </div>

                </div>



            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="tital">
                        <h2>Author Product</h2>
                    </div>
                    <div class="minitital my-5">
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off"
                                onclick="showproductistype('All')" checked>
                            <label class="btn-outline-primary" for="btnradio1">All</label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off"
                                onclick="showproductistype('dry food')">
                            <label class="btn-outline-primary" for="btnradio2">Dry food</label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off"
                                onclick="showproductistype('Fresh food')">
                            <label class="btn-outline-primary" for="btnradio3">Fresh food</label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off"
                                onclick="showproductistype('Drink')">
                            <label class="btn-outline-primary" for="btnradio4">Drink</label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off"
                                onclick="showproductistype('personal items')">
                            <label class="btn-outline-primary" for="btnradio5">Personal items</label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off"
                                onclick="showproductistype('General use')">
                            <label class="btn-outline-primary" for="btnradio6">General use</label>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-sm">
            <div class="row row-cols-4 height290" id="detail">
            </div>
        </div>

        <div id="footer"></div>

        <script>
            localStorage.removeItem('productid');
            let showdirly = document.querySelector(".showdirly")
            let show = document.querySelector("#detail")
            let footer = document.querySelector("#footer")

            fetch('http://rattana.app.ruk-com.cloud/showproductall')
                .then(response => response.json())
                .then(data => {
                    for (let i = 0; i < data.length; i++) {
                        show.innerHTML += `<div class="col my-3"><div class="iteme">
           </div><div class="detail"><p><a href="cart?${data[i].Id}#load" onclick="localStorage.setItem('productid',${data[i].Id} )">${data[i].Name}<br> <strong>${data[i].Price} ฿</strong></a></p></div></div>`

                    }
                    for (let y = 0; y < 3; y++) {
                        var product = (Math.floor(Math.random() * data.length + 1))
                        showdirly.innerHTML += `

                        <div class="col my-3">
                            <div class="iteme"></div>
                            <div class="detail">
                                <p><a href="cart?${data[product].Id}#load" onclick="localStorage.setItem('productid',${data[i].Id} )">${data[product].Name}</a></span></a></p>
                                </div>
                            </div>
                        `
                    }

                    footer.innerHTML = `<%- include('footer')%>`
                })
                .catch(error => console.error(error));



            function showproductistype(type) {
                show.innerHTML = "";
                if (type == "All") {
                    fetch('http://rattana.app.ruk-com.cloud/showproductall')
                        .then(response => response.json())
                        .then(data => {
                            for (let i = 0; i < data.length; i++) {
                                show.innerHTML += `<div class="col my-3"><div class="iteme">
           </div><div class="detail"><p><a href="cart?${data[i].Id}#load" onclick="localStorage.setItem('productid',${data[i].Id} )">${data[i].Name}<br> <strong>${data[i].Price} ฿</strong></a></p></div></div>`

                            }

                        })
                        .catch(error => console.error(error));

                    footer.innerHTML = `<%- include('footer')%>`



                } else if (type == "dry food") {
                    fetch('http://rattana.app.ruk-com.cloud/showproduct1')
                        .then(response => response.json())
                        .then(data => {
                            for (let i = 0; i < data.length; i++) {
                                show.innerHTML += `<div class="col my-3"><div class="iteme">
           </div><div class="detail"><p><a href="cart?${data[i].Id}#load" onclick="localStorage.setItem('productid',${data[i].Id} )">${data[i].Name}<br> <strong>${data[i].Price} ฿</strong></a></p></div></div>`

                            }

                        })
                        .catch(error => console.error(error));

                    footer.innerHTML = `<%- include('footer')%>`



                }
                else if (type == "Fresh food") {
                    fetch('http://rattana.app.ruk-com.cloud/showproduct2')
                        .then(response => response.json())
                        .then(data => {
                            for (let i = 0; i < data.length; i++) {
                                show.innerHTML += `<div class="col my-3"><div class="iteme">
           </div><div class="detail"><p><a href="cart?${data[i].Id}#load" onclick="localStorage.setItem('productid',${data[i].Id} )">${data[i].Name}<br> <strong>${data[i].Price} ฿</strong></a></p></div></div>`

                            }

                        })
                        .catch(error => console.error(error));


                    footer.innerHTML = `<%- include('footer')%>`
                    console.log("3")

                } else if (type == "Drink") {
                    fetch('http://rattana.app.ruk-com.cloud/showproduct3')
                        .then(response => response.json())
                        .then(data => {
                            for (let i = 0; i < data.length; i++) {
                                show.innerHTML += `<div class="col my-3"><div class="iteme">
           </div><div class="detail"><p><a href="cart?${data[i].Id}#load" onclick="localStorage.setItem('productid',${data[i].Id} )">${data[i].Name}<br> <strong>${data[i].Price} ฿</strong></a></p></div></div>`

                            }

                        })
                        .catch(error => console.error(error));
                } else if (type == "personal items") {
                    fetch('http://rattana.app.ruk-com.cloud/showproduct4')
                        .then(response => response.json())
                        .then(data => {
                            for (let i = 0; i < data.length; i++) {
                                show.innerHTML += `<div class="col my-3"><div class="iteme">
           </div><div class="detail"><p><a href="cart?${data[i].Id}#load" onclick="localStorage.setItem('productid',${data[i].Id} )">${data[i].Name}<br> <strong>${data[i].Price} ฿</strong></a></p></div></div>`

                            }

                        })
                        .catch(error => console.error(error));

                    footer.innerHTML = `<%- include('footer')%>`


                } else if (type == "General use") {
                    fetch('http://rattana.app.ruk-com.cloud/showproduct5')
                        .then(response => response.json())
                        .then(data => {
                            for (let i = 0; i < data.length; i++) {
                                show.innerHTML += `<div class="col my-3"><div class="iteme">
           </div><div class="detail"><p><a href="cart?${data[i].Id}#load" onclick="localStorage.setItem('productid',${data[i].Id} )">${data[i].Name}<br> <strong>${data[i].Price} ฿</strong></a></p></div></div>`

                            }

                        })
                        .catch(error => console.error(error));

                    footer.innerHTML = `<%- include('footer')%>`


                } else {

                    fetch('http://rattana.app.ruk-com.cloud/showproductall')
                        .then(response => response.json())
                        .then(data => {
                            for (let i = 0; i < data.length; i++) {
                                show.innerHTML += `<div class="col my-3"><div class="iteme">
           </div><div class="detail"><p><a href="cart?${data[i].Id}#load" onclick="localStorage.setItem('productid',${data[i].Id} )">${data[i].Name}<br> <strong>${data[i].Price} ฿</strong></a></p></div></div>`

                            }

                        })
                        .catch(error => console.error(error))

                    footer.innerHTML = `<%- include('footer')%>`



                }
            }

        </script>

        <script>

            let colors = localStorage.getItem('color')
            if (!colors) { localStorage.setItem('color', 'g-green') }

            var element1 = document.getElementById("Nav");
            var element2 = document.getElementById("hoff");
            element1.classList.add(localStorage.getItem('color'));
            element2.classList.add(localStorage.getItem('color'));

            function ChangeColorfooter(color) {


                var element1 = document.getElementById("Nav");
                var element2 = document.getElementById("hoff");
                element1.classList.remove(localStorage.getItem('color'));
                element1.classList.add(color);
                element2.classList.remove(localStorage.getItem('color'));
                element2.classList.add(color);
                localStorage.removeItem('color');
                localStorage.setItem('color', color)
            }


        </script>

</body>

</html>